:root {
  --clr-blue: #14213d;
  --clr-white: #ECECEC;
  --clr-yellow: #fca311;
  --clr-black: #000000;
  --clr-grey: #dbe3e9;

  --font-family: 'Fredoka', Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--clr-grey);
  font-family: var(--font-family);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 6fr;
}

img {
  height: 20px;
  width: 20px;
}

button {
  background-color: var(--clr-blue);
  display: inline-block;
  padding: 0.5em 1.6em;
  margin: auto 1rem;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: var(--clr-grey);
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  border-color: var(--clr-yellow);
  color: var(--clr-yellow);
}

input {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  border: none;
  border-bottom: inset;
  border-right: inset;
  border-color: #b9b8bb;
  background-color: var(--clr-grey);
  margin: 5px;
  width: 50%;
  height: 1.6rem;
}

ul img{
  align-self: center;
}

#sidebar {
  background-color: var(--clr-blue);
  grid-row-start: span 2;
  color: var(--clr-grey);
  display: flex;
  flex-direction: column;
}

#header {
  background-color: var(--clr-white);
  grid-column-start: span 4;
}

#account{
  font-weight: 700;
  font-size: 1.5rem;
}

#main {
  background-color: var(--clr-grey);
  grid-column-start: span 4;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#project-section,
#news-section {
  margin: 1rem;
}

#header .profile {
  align-self: center;
}

.pages-section ul,
.settings-section ul {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding-left: 1rem;
  padding-right: auto;
  font-weight: 400;
  font-size: 1.2rem;
  list-style: none;
}

.top-section img:nth-of-type(2) {
  margin-left: auto;
}

.top-section img:nth-of-type(3){
  height: auto;
  width: 32px;
}

.bottom-section>.profile {
  height: auto;
  width: 64px;
}

.action-buttons {
  margin-left: auto;
}

.top-section,
.bottom-section {
  display: flex;
  margin: 1rem 2.5rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.bottom-section{
  margin-bottom: 0;
}

.title-section{
  display: flex;
  gap: 1rem;
  padding: 2rem 0.5rem;
  align-items: center;
}

.title-section img{
  height: 40px;
  width: 40px;
}

.greetings p{
  margin: 0;
}

.card,
.announcements,
.trending {
  background-color: var(--clr-white);
  border-radius: 10px;
  padding: 0.5rem;
}

.card {
  border-left: 10px solid var(--clr-yellow);
  padding-left: 0.5rem;
}

.card h2{
  margin-bottom: 0;
  font-size: 20px;
}

.content{
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.announcements{
  padding: 1.5rem;
}

.announcements h4{
  margin: 0.5rem 0 ;
}

.announcements p{
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.announcements div{
  border-bottom: 1px solid #777777;
}
.announcements div:last-of-type{
  border: none;
}

.trending{
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.trending>div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.trending img {
  align-self: center;
  height: auto;
  width: 32px;
}

.trending p{
  margin: 0 0.5rem 0.5rem;
  color:#777777;
}

.trending h4{
  margin: 0.5rem 0.5rem 0;
}