:root {
  --clr-blue: #14213d;
  --clr-white: #ECECEC;
  --clr-yellow: #fca311;
  --clr-black: #000000;
  --clr-grey: #dbe3e9;

  --font-family: 'Fredoka', Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--clr-grey);
  font-family: var(--font-family);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 5fr;
}

img {
  height: 20px;
  width: 20px;
}

button {
  background-color: var(--clr-blue);
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: var(--clr-grey);
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  border-color: var(--clr-yellow);
  color: var(--clr-yellow);
}

input {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  border: none;
  border-bottom: inset;
  border-right: inset;
  border-color: #b9b8bb;
  background-color: var(--clr-grey);
  margin: 5px;
  width: 50%;

}

#sidebar {
  background-color: var(--clr-blue);
  grid-row-start: span 2;
  color: var(--clr-grey);
}

#header {
  background-color: var(--clr-white);
  grid-column-start: span 4;
}

#account{
  font-weight: 700;
  font-size: 1.5rem;
}

#main {
  background-color: var(--clr-grey);
  grid-column-start: span 4;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#project-section,
#news-section {
  margin: 1rem;
}

#header .profile {
  align-self: center;
}

.top-section img:nth-of-type(2) {
  margin-left: auto;
}

.bottom-section>.profile {
  height: auto;
  width: 64px;
}

.action-buttons {
  margin-left: auto;
}

.top-section,
.bottom-section {
  display: flex;
  margin: 1rem 2.5rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.card,
.announcements,
.trending {
  background-color: var(--clr-white);
  border-radius: 10px;
  padding: 0.5rem;
}

.card {
  border-left: 10px solid var(--clr-yellow);
  padding-left: 0.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.trending>div {
  display: flex;
  gap: 0.5rem;
}

.trending img {
  align-self: center;
}

.trending p{
  margin: 0;
}